In [31]:
import pandas as pd
from sqlalchemy import create_engine

### Store Boston CSV into DataFrame

In [2]:
#Boston
csv_file = "Resources/boston_food.csv"
boston_data_df = pd.read_csv(csv_file)
boston_data_df.head()

C:\Users\Admin\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,businessname,dbaname,legalowner,namelast,namefirst,licenseno,issdttm,expdttm,licstatus,licensecat,...,violdttm,violstatus,statusdate,comments,address,city,state,zip,property_id,location
0,100 Percent Delicia Food,NaN,BRENNAN PATRICK E,Marte,Civelis,87059,2013-04-05 12:47:23,2020-12-31 23:59:00,Active,FS,...,2013-02-15 12:19:42,Fail,NaN,Provide glass storage rack.,635 Hyde Park AVE,Roslindale,MA,02131,77476.0,"(42.278590000, -71.119440000)"
1,100 Percent Delicia Food,NaN,BRENNAN PATRICK E,Marte,Civelis,87059,2013-04-05 12:47:23,2020-12-31 23:59:00,Active,FS,...,2013-02-15 12:19:42,Fail,NaN,Provide dish rack over 3 bay sink to replace m...,635 Hyde Park AVE,Roslindale,MA,02131,77476.0,"(42.278590000, -71.119440000)"
2,100 Percent Delicia Food,NaN,BRENNAN PATRICK E,Marte,Civelis,87059,2013-04-05 12:47:23,2020-12-31 23:59:00,Active,FS,...,2013-02-15 12:19:42,Fail,NaN,Provide dish washer at ware washing area.,635 Hyde Park AVE,Roslindale,MA,02131,77476.0,"(42.278590000, -71.119440000)"
3,100 Percent Delicia Food,NaN,BRENNAN PATRICK E,Marte,Civelis,87059,2013-04-05 12:47:23,2020-12-31 23:59:00,Active,FS,...,2013-02-15 12:19:42,Fail,NaN,Provide mop sink at basement.,635 Hyde Park AVE,Roslindale,MA,02131,77476.0,"(42.278590000, -71.119440000)"
4,100 Percent Delicia Food,NaN,BRENNAN PATRICK E,Marte,Civelis,87059,2013-04-05 12:47:23,2020-12-31 23:59:00,Active,FS,...,2013-02-15 12:19:42,Fail,NaN,No hand sink at Bar Area provide.,635 Hyde Park AVE,Roslindale,MA,02131,77476.0,"(42.278590000, -71.119440000)"

### Store New York City CSV in Dataframe

In [4]:
#New York City
csv_file = "Resources/nyc_food.csv"
nyc_data_df = pd.read_csv(csv_file)
nyc_data_df.head()

C:\Users\Admin\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,FACILITY,ADDRESS,DATE OF INSPECTION,VIOLATION ITEM,VIOLATION DESCRIPTION,CRITICAL VIOLATION,TOTAL # CRITICAL VIOLATIONS,TOTAL #CRIT. NOT CORRECTED,TOTAL # NONCRITICAL VIOLATIONS,LOCAL HEALTH DEPARTMENT,...,PERMITTED (D/B/A),PERMITTED CORP. NAME,PERM. OPERATOR LAST NAME,PERM. OPERATOR FIRST NAME,NYS HEALTH OPERATION ID,INSPECTION TYPE,INSPECTION COMMENTS,FS FACILITY STATE,LATITUDE,LONGITUDE
0,Burger King Restaurant #378,"621 Butternut STREET, Syracuse",03/30/2010,4A,"Toxic chemicals are improperly labeled, stored...",Critical Violation,1.0,0.0,8.0,Onondaga County,...,NaN,Carrols Corporation,Myers,William,292563,Inspection,NaN,NY,43.060040,-76.146674
1,RRACIS RESTAURANT,"3670 DANBURY ROAD, BREWSTER",05/02/2019,4A,"Toxic chemicals are improperly labeled, stored...",Critical Violation,1.0,0.0,2.0,Putnam County,...,NaN,"ROUTE 6, LLC",RRACI,HAJDIN,422892,Inspection,repeat critical (red) items are subject to enf...,NY,41.385385,-73.573463
2,ZACK'S GRILL,"1825 PENNSYLVANIA AVENUE, PINE CITY",02/24/2017,5A,Potentially hazardous foods are not kept at or...,Critical Violation,1.0,0.0,9.0,Chemung County,...,NaN,"ZACK'S GRILL, LLC","ZACK, JR",JOHN,891335,Inspection,Discussed requirements for waiver from tempera...,NY,NaN,NaN
3,Dosa Grill,"4467 EAST Genesee STREET, Dewitt",05/10/2012,5A,Potentially hazardous foods are not kept at or...,Critical Violation,5.0,1.0,29.0,Onondaga County,...,NaN,Sant Sadhuramji Inc.,Kumar,Dinesh,741197,Inspection,NaN,NY,43.035044,-76.066426
4,SUNSET GRILL,"823 DANBY ROAD, ITHACA",04/25/2008,5A,Potentially hazardous foods are not kept at or...,Critical Violation,2.0,0.0,0.0,Tompkins County,...,NaN,NaN,QUACKENBUSH,ROBERT,561357,Inspection,NaN,NY,42.430033,-76.496922

### Store Chicago CSV in Dataframe

In [5]:
#Chicago
csv_file = "Resources/chicago_food.csv"
chicago_data_df = pd.read_csv(csv_file)
chicago_data_df.head()

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
0,1114349,PANERA BREAD,PANERA BREAD,2129398.0,Restaurant,Risk 1 (High),2 N MICHIGAN AVE,CHICAGO,IL,60602.0,06/28/2012,Complaint Re-Inspection,Pass,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...",41.882164,-87.624514,"(-87.62451427362218, 41.88216416733022)"
1,1285640,McDONALD'S,McDONALD'S,1302136.0,Restaurant,Risk 2 (Medium),70 E GARFIELD BLVD,CHICAGO,IL,60615.0,10/01/2012,Short Form Complaint,Fail,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,41.794794,-87.622915,"(-87.62291510355041, 41.79479402426513)"
2,1098539,MISKA'S LIQUOR & DELI,MISKA'S LIQUOR & DELI,2050160.0,Restaurant,Risk 2 (Medium),2150-58 W BELMONT AVE BLDG,CHICAGO,IL,60618.0,08/22/2012,Canvass,Out of Business,NaN,41.939628,-87.682782,"(-87.68278185109797, 41.93962831430968)"
3,1170449,ABE'S AND TOMMIE'S CARRYOUT,ABE'S AND TOMMIE'S CARRYOUT,2008833.0,Restaurant,Risk 2 (Medium),5107 W CHICAGO AVE,CHICAGO,IL,60651.0,08/30/2012,Complaint Re-Inspection,Fail,2. FACILITIES TO MAINTAIN PROPER TEMPERATURE -...,41.894850,-87.753490,"(-87.75348965086528, 41.89484970491373)"
4,1230153,CREATIVE TURKEY CUISINE LLC,CREATIVE TURKEY CUISINE LLC,2177144.0,Shared Kitchen User (Short Term),Risk 1 (High),6601 MARTIN FRANCE,TINLEY PARK,IL,60477.0,07/17/2012,License,Pass,NaN,NaN,NaN,NaN

### Create new data with select columns

In [27]:
new_boston_data_df = boston_data_df[["licenseno","resultdttm","city","state","zip"]]
new_boston_data_df = new_boston_data_df[(new_boston_data_df['resultdttm'] >= '2017-01-01') & (new_boston_data_df['resultdttm'] <= '2017-12-31')]
new_boston_data_df = new_boston_data_df.rename(columns={"licenseno": "license_no",
                                                        "resultdttm": "inspect_date",
                                                        })
new_boston_data_df.head()

    license_no         inspect_date        city state    zip
51       87059  2017-04-25 11:57:59  Roslindale    MA  02131
52       87059  2017-04-25 11:57:59  Roslindale    MA  02131
53       87059  2017-04-25 11:57:59  Roslindale    MA  02131
54       87059  2017-04-25 11:57:59  Roslindale    MA  02131
55       87059  2017-04-25 11:57:59  Roslindale    MA  02131

In [32]:
new_chicago_data_df = chicago_data_df[["License #","Inspection Date","City","State","Zip"]]
##NEED TO CONVERT DATE TO DATE
#new_chicago_data_df = new_chicago_data_df[(new_chicago_data_df['Inspection Date'] >= '01/01/2017') & (new_chicago_data_df['Inspection Date'] <= '12/31/2017')]
new_chicago_data_df = new_chicago_data_df.rename(columns={"License #": "license_no",
                                                  "Inspection Date": "inspect_date",
                                                  "City":"city",
                                                  "State":"state",
                                                  "Zip":"zip"
                                                  })
new_chicago_data_df.head()

TypeError: '<' not supported between instances of 'int' and 'datetime.date'

In [25]:
new_nyc_data_df = nyc_data_df[["NYS HEALTH OPERATION ID","DATE OF INSPECTION","FACILITY CITY","FS FACILITY STATE","FACILITY POSTAL ZIPCODE"]]
##NEED TO CONVERT DATE TO DATE AND ZIP TO NUMBER
#new_nyc_data_df = new_nyc_data_df[(new_nyc_data_df['DATE OF INSPECTION'] >= '2017-01-01') & (new_nyc_data_df['DATE OF INSPECTION'] <= '2017-12-31')]
new_nyc_data_df = new_nyc_data_df.rename(columns={"NYS HEALTH OPERATION ID": "license_no",
                                                          "DATE OF INSPECTION": "inspect_date",
                                                          "FACILITY CITY":"city",
                                                          "FS FACILITY STATE":"state",
                                                          "FACILITY POSTAL ZIPCODE":"zip"
                                                          })
new_nyc_data_df.head()

   license_no inspect_date       city state        zip
0      292563   03/30/2010   Syracuse    NY  13208
1      422892   05/02/2019   BREWSTER    NY  10509
2      891335   02/24/2017  PINE CITY    NY  14871
3      741197   05/10/2012     Dewitt    NY  13214
4      561357   04/25/2008     ITHACA    NY  14850

### Clean DataFrame

### Connect to local database

### Check for tables

### Use pandas to load csv converted DataFrame into database

### Use pandas to load json converted DataFrame into database

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

### Confirm data has been added by querying the customer_location table