In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

### Store Boston CSV into DataFrame

In [3]:
#Boston
csv_file = "Resources/boston_food.csv"
boston_data_df = pd.read_csv(csv_file)
boston_data_df.head()

C:\Users\spowe\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,businessname,dbaname,legalowner,namelast,namefirst,licenseno,issdttm,expdttm,licstatus,licensecat,...,violdttm,violstatus,statusdate,comments,address,city,state,zip,property_id,location
0,100 Percent Delicia Food,NaN,BRENNAN PATRICK E,Marte,Civelis,87059,4/5/2013 12:47,12/31/2020 23:59,Active,FS,...,4/25/2017 11:57,Fail,NaN,Label all bulk food containers.,635 Hyde Park AVE,Roslindale,MA,2131,77476.0,"(42.278590000, -71.119440000)"
1,100 Percent Delicia Food,NaN,BRENNAN PATRICK E,Marte,Civelis,87059,4/5/2013 12:47,12/31/2020 23:59,Active,FS,...,4/25/2017 11:57,Fail,NaN,Certified Food Safety staff member will need t...,635 Hyde Park AVE,Roslindale,MA,2131,77476.0,"(42.278590000, -71.119440000)"
2,100 Percent Delicia Food,NaN,BRENNAN PATRICK E,Marte,Civelis,87059,4/5/2013 12:47,12/31/2020 23:59,Active,FS,...,4/25/2017 11:57,Fail,NaN,Raw foods stored above cooked foods in walk in...,635 Hyde Park AVE,Roslindale,MA,2131,77476.0,"(42.278590000, -71.119440000)"
3,100 Percent Delicia Food,NaN,BRENNAN PATRICK E,Marte,Civelis,87059,4/5/2013 12:47,12/31/2020 23:59,Active,FS,...,4/25/2017 11:57,Fail,NaN,All food in storage must have a cover. Discon...,635 Hyde Park AVE,Roslindale,MA,2131,77476.0,"(42.278590000, -71.119440000)"
4,100 Percent Delicia Food,NaN,BRENNAN PATRICK E,Marte,Civelis,87059,4/5/2013 12:47,12/31/2020 23:59,Active,FS,...,4/25/2017 11:57,Fail,NaN,Paint wood shelf on cooking line under all the...,635 Hyde Park AVE,Roslindale,MA,2131,77476.0,"(42.278590000, -71.119440000)"

### Store Chicago CSV in Dataframe

In [4]:
#Chicago
csv_file = "Resources/chicago_food.csv"
chicago_data_df = pd.read_csv(csv_file)
chicago_data_df.head()

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
0,2129819,510 BELMONT TOWER INC.,510 BELMONT TOWER INC.,1889055.0,NaN,Risk 3 (Low),510 W BELMONT AVE,CHICAGO,IL,60657,12/29/2017,Canvass,Out of Business,NaN,41.940187,-87.642385,"(-87.64238451297855, 41.94018672257404)"
1,2129795,SUMMER'S PALACE,SUMMER'S PALACE,60138.0,NaN,Risk 3 (Low),5038 N CLARK ST,CHICAGO,IL,60640,12/28/2017,Canvass,Out of Business,NaN,41.973516,-87.668250,"(-87.66825003652856, 41.97351594814305)"
2,2129787,Metromart Newsstand,Metromart Newsstand,1382610.0,CONVENIENCE STORE,Risk 3 (Low),2 N LA SALLE ST,CHICAGO,IL,60602,12/28/2017,Canvass,Pass,NaN,41.881992,-87.632507,"(-87.63250662670102, 41.88199229825289)"
3,2129786,REZA'S RESTAURANT,REZA'S RESTAURANT (COLD STORAGE),1841515.0,COLD/FROZEN FOOD STORAGE,Risk 3 (Low),5238 N CLARK ST,CHICAGO,IL,60640,12/28/2017,Canvass,Pass,"41. PREMISES MAINTAINED FREE OF LITTER, UNNECE...",41.977390,-87.668523,"(-87.66852279752685, 41.97738953666194)"
4,2129780,GILIANA & HUZIRAN CO,GILIANA & HUZIRAN CO,11190.0,NaN,Risk 3 (Low),5140 N CLARK ST,CHICAGO,IL,60640,12/28/2017,Canvass,Out of Business,NaN,41.975567,-87.668497,"(-87.66849715000312, 41.975566761595694)"

### Store Census CSV in Dataframe

In [5]:
#Census
csv_file = "Resources/census_data_zipcodes.csv"
census_data_df = pd.read_csv(csv_file)
census_data_df.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,601,17599.0,38.9,11757.0,7041.0,11282.0,64.105915,13.943974
1,602,39209.0,40.9,16190.0,8978.0,20428.0,52.100283,6.473004
2,603,50135.0,40.4,16645.0,10897.0,25176.0,50.216416,7.156677
3,606,6304.0,42.8,13387.0,5960.0,4092.0,64.911168,3.236041
4,610,27590.0,41.4,18741.0,9266.0,12553.0,45.498369,5.342515

### Cleanup Boston DataFrame

In [16]:
# Select only the columns that we want and rename them in the DataFrame
new_boston_data_df = boston_data_df[["licenseno","resultdttm","city","state","zip"]]
new_boston_data_df = new_boston_data_df.rename(columns={"licenseno": "license_no",
                                                        "resultdttm": "inspect_date",
                                                        })

# Drop any null or missing values
new_boston_data_df.dropna(inplace=True)

# Convert inspect_date to datetime data type
new_boston_data_df['inspect_date'] = pd.to_datetime(new_boston_data_df['inspect_date']).dt.strftime('%m/%d/%Y')

# Cleanup the zip code column by applying a format that adds a preceding zero 
# And makes the length of the zipcode column to 5 digit
new_boston_data_df['zip'] = new_boston_data_df['zip'].apply(lambda x: '{0:0>5}'.format(x))

# Verify data types and counts
#print(new_boston_data_df.dtypes)
#print(new_boston_data_df.count())

# Group DataFrame on license number and inspection date
#new_boston_data_df = new_boston_data_df.groupby(['license_no', 'inspect_date'])
#new_boston_data_df.first()

### Cleanup Chicago DataFrame

In [17]:
# Select only the columns that we want and rename them in the DataFrame
new_chicago_data_df = chicago_data_df[["License #","Inspection Date","City","State","Zip"]]
new_chicago_data_df = new_chicago_data_df.rename(columns={"License #": "license_no",
                                                  "Inspection Date": "inspect_date",
                                                  "City":"city",
                                                  "State":"state",
                                                  "Zip":"zip"
                                                  })
# Drop any null or missing values
new_chicago_data_df.dropna(inplace=True)

# Convert license_no and zipcode values to integer data type
new_chicago_data_df = new_chicago_data_df.astype({'license_no': int, 'zip': str})

# Convert inspect_date to datetime data type
new_chicago_data_df['inspect_date'] = pd.to_datetime(new_chicago_data_df['inspect_date']).dt.strftime('%m/%d/%Y')

# Verify data types and counts
#print(new_chicago_data_df.dtypes)
#print(new_chicago_data_df.count())

# Group DataFrame on license number and inspection date
#new_chicago_data_df = new_chicago_data_df.groupby(['license_no', 'inspect_date'])
#new_chicago_data_df.first()

### Merge the city DataFrames

In [18]:
merge_df = pd.concat([new_boston_data_df, new_chicago_data_df])
merge_df['city'] = merge_df['city'].str.title() 
merge_df['state'] = merge_df['state'].str.upper()
merge_df.dtypes

license_no       int64
inspect_date    object
city            object
state           object
zip             object
dtype: object

In [19]:
#Pulling in census data
csv_file = "Resources/census_data_zipcodes.csv"
census_data_df = pd.read_csv(csv_file)
census_data_df.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,601,17599.0,38.9,11757.0,7041.0,11282.0,64.105915,13.943974
1,602,39209.0,40.9,16190.0,8978.0,20428.0,52.100283,6.473004
2,603,50135.0,40.4,16645.0,10897.0,25176.0,50.216416,7.156677
3,606,6304.0,42.8,13387.0,5960.0,4092.0,64.911168,3.236041
4,610,27590.0,41.4,18741.0,9266.0,12553.0,45.498369,5.342515

In [20]:
#Convert Zipcode data type to float so we can create the identifier we need
census_data_df =census_data_df.astype({'Zipcode': 'str'})

In [21]:
#Make the Zip code 5 digits long

census_data_df['Zipcode'] = census_data_df['Zipcode'].apply(lambda x: '{0:0>5}'.format(x))

In [22]:
#Rename Zipcode Column to zipcode
census_data_df = census_data_df.rename(columns={"Zipcode": "zip"})

census_data_df.head()

,zip,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,00601,17599.0,38.9,11757.0,7041.0,11282.0,64.105915,13.943974
1,00602,39209.0,40.9,16190.0,8978.0,20428.0,52.100283,6.473004
2,00603,50135.0,40.4,16645.0,10897.0,25176.0,50.216416,7.156677
3,00606,6304.0,42.8,13387.0,5960.0,4092.0,64.911168,3.236041
4,00610,27590.0,41.4,18741.0,9266.0,12553.0,45.498369,5.342515

In [23]:
#Merge the data sets
city_health_data = merge_df.merge(census_data_df, on = 'zip')

city_health_data

,license_no,inspect_date,city,state,zip,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,87059,04/25/2017,Roslindale,MA,02131,32819.0,37.8,72127.0,36857.0,3801.0,11.581706,2.998263
1,87059,04/25/2017,Roslindale,MA,02131,32819.0,37.8,72127.0,36857.0,3801.0,11.581706,2.998263
2,87059,04/25/2017,Roslindale,MA,02131,32819.0,37.8,72127.0,36857.0,3801.0,11.581706,2.998263
3,87059,04/25/2017,Roslindale,MA,02131,32819.0,37.8,72127.0,36857.0,3801.0,11.581706,2.998263
4,87059,04/25/2017,Roslindale,MA,02131,32819.0,37.8,72127.0,36857.0,3801.0,11.581706,2.998263
...,...,...,...,...,...,...,...,...,...,...,...,...
64516,2438187,04/20/2017,Niles Niles,IL,60714,29911.0,47.6,58298.0,29595.0,2836.0,9.481462,2.417171
64517,2263359,06/13/2017,Elmhurst,IL,60126,48269.0,39.5,103454.0,51157.0,1740.0,3.604798,2.280967
64518,2262653,03/28/2017,Oak Park,IL,60302,32096.0,40.2,83145.0,55166.0,3005.0,9.362537,3.579885
64519,2487574,02/07/2017,Skokie,IL,60076,32093.0,45.1,74964.0,36192.0,2464.0,7.677687,3.365220
64520,2334464,02/21/2017,Calumet City,IL,60409,37190.0,35.7,42429.0,20397.0,7990.0,21.484270,9.061576

In [27]:
#Filtering out the negative values. That looks like a placeholder for any zip codes with incomplete data possibly because sample set is too small

city_health_filter = city_health_data[city_health_data['Household Income']>0]

city_health_filter= city_health_filter.groupby(['license_no', 'inspect_date'])

city_health_filter.head()

,license_no,inspect_date,city,state,zip,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,87059,04/25/2017,Roslindale,MA,02131,32819.0,37.8,72127.0,36857.0,3801.0,11.581706,2.998263
1,87059,04/25/2017,Roslindale,MA,02131,32819.0,37.8,72127.0,36857.0,3801.0,11.581706,2.998263
2,87059,04/25/2017,Roslindale,MA,02131,32819.0,37.8,72127.0,36857.0,3801.0,11.581706,2.998263
3,87059,04/25/2017,Roslindale,MA,02131,32819.0,37.8,72127.0,36857.0,3801.0,11.581706,2.998263
4,87059,04/25/2017,Roslindale,MA,02131,32819.0,37.8,72127.0,36857.0,3801.0,11.581706,2.998263
...,...,...,...,...,...,...,...,...,...,...,...,...
64516,2438187,04/20/2017,Niles Niles,IL,60714,29911.0,47.6,58298.0,29595.0,2836.0,9.481462,2.417171
64517,2263359,06/13/2017,Elmhurst,IL,60126,48269.0,39.5,103454.0,51157.0,1740.0,3.604798,2.280967
64518,2262653,03/28/2017,Oak Park,IL,60302,32096.0,40.2,83145.0,55166.0,3005.0,9.362537,3.579885
64519,2487574,02/07/2017,Skokie,IL,60076,32093.0,45.1,74964.0,36192.0,2464.0,7.677687,3.365220
64520,2334464,02/21/2017,Calumet City,IL,60409,37190.0,35.7,42429.0,20397.0,7990.0,21.484270,9.061576

### Clean DataFrame

### Connect to local database

### Check for tables

### Use pandas to load csv converted DataFrame into database

### Use pandas to load json converted DataFrame into database

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

### Confirm data has been added by querying the customer_location table