In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

### Store Boston CSV into DataFrame

In [3]:
#Boston
csv_file = "Resources/boston_food.csv"
boston_data_df = pd.read_csv(csv_file)
boston_data_df.head()

,businessname,dbaname,legalowner,namelast,namefirst,licenseno,issdttm,expdttm,licstatus,licensecat,...,violdttm,violstatus,statusdate,comments,address,city,state,zip,property_id,location
0,100 Percent Delicia Food,NaN,BRENNAN PATRICK E,Marte,Civelis,87059,4/5/2013 12:47,12/31/2020 23:59,Active,FS,...,4/25/2017 11:57,Fail,NaN,Label all bulk food containers.,635 Hyde Park AVE,Roslindale,MA,2131,77476.0,"(42.278590000, -71.119440000)"
1,100 Percent Delicia Food,NaN,BRENNAN PATRICK E,Marte,Civelis,87059,4/5/2013 12:47,12/31/2020 23:59,Active,FS,...,4/25/2017 11:57,Fail,NaN,Certified Food Safety staff member will need t...,635 Hyde Park AVE,Roslindale,MA,2131,77476.0,"(42.278590000, -71.119440000)"
2,100 Percent Delicia Food,NaN,BRENNAN PATRICK E,Marte,Civelis,87059,4/5/2013 12:47,12/31/2020 23:59,Active,FS,...,4/25/2017 11:57,Fail,NaN,Raw foods stored above cooked foods in walk in...,635 Hyde Park AVE,Roslindale,MA,2131,77476.0,"(42.278590000, -71.119440000)"
3,100 Percent Delicia Food,NaN,BRENNAN PATRICK E,Marte,Civelis,87059,4/5/2013 12:47,12/31/2020 23:59,Active,FS,...,4/25/2017 11:57,Fail,NaN,All food in storage must have a cover. Discon...,635 Hyde Park AVE,Roslindale,MA,2131,77476.0,"(42.278590000, -71.119440000)"
4,100 Percent Delicia Food,NaN,BRENNAN PATRICK E,Marte,Civelis,87059,4/5/2013 12:47,12/31/2020 23:59,Active,FS,...,4/25/2017 11:57,Fail,NaN,Paint wood shelf on cooking line under all the...,635 Hyde Park AVE,Roslindale,MA,2131,77476.0,"(42.278590000, -71.119440000)"

### Store Chicago CSV in Dataframe

In [5]:
#Chicago
csv_file = "Resources/chicago_food.csv"
chicago_data_df = pd.read_csv(csv_file)
chicago_data_df.head()

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
0,2129819,510 BELMONT TOWER INC.,510 BELMONT TOWER INC.,1889055.0,NaN,Risk 3 (Low),510 W BELMONT AVE,CHICAGO,IL,60657,12/29/2017,Canvass,Out of Business,NaN,41.940187,-87.642385,"(-87.64238451297855, 41.94018672257404)"
1,2129795,SUMMER'S PALACE,SUMMER'S PALACE,60138.0,NaN,Risk 3 (Low),5038 N CLARK ST,CHICAGO,IL,60640,12/28/2017,Canvass,Out of Business,NaN,41.973516,-87.668250,"(-87.66825003652856, 41.97351594814305)"
2,2129787,Metromart Newsstand,Metromart Newsstand,1382610.0,CONVENIENCE STORE,Risk 3 (Low),2 N LA SALLE ST,CHICAGO,IL,60602,12/28/2017,Canvass,Pass,NaN,41.881992,-87.632507,"(-87.63250662670102, 41.88199229825289)"
3,2129786,REZA'S RESTAURANT,REZA'S RESTAURANT (COLD STORAGE),1841515.0,COLD/FROZEN FOOD STORAGE,Risk 3 (Low),5238 N CLARK ST,CHICAGO,IL,60640,12/28/2017,Canvass,Pass,"41. PREMISES MAINTAINED FREE OF LITTER, UNNECE...",41.977390,-87.668523,"(-87.66852279752685, 41.97738953666194)"
4,2129780,GILIANA & HUZIRAN CO,GILIANA & HUZIRAN CO,11190.0,NaN,Risk 3 (Low),5140 N CLARK ST,CHICAGO,IL,60640,12/28/2017,Canvass,Out of Business,NaN,41.975567,-87.668497,"(-87.66849715000312, 41.975566761595694)"

### Store Census CSV in Dataframe

In [6]:
#Census
csv_file = "Resources/census_data_zipcodes.csv"
census_data_df = pd.read_csv(csv_file)
census_data_df.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,601,17599.0,38.9,11757.0,7041.0,11282.0,64.105915,13.943974
1,602,39209.0,40.9,16190.0,8978.0,20428.0,52.100283,6.473004
2,603,50135.0,40.4,16645.0,10897.0,25176.0,50.216416,7.156677
3,606,6304.0,42.8,13387.0,5960.0,4092.0,64.911168,3.236041
4,610,27590.0,41.4,18741.0,9266.0,12553.0,45.498369,5.342515

### Create new data with select columns

In [16]:
# Select only the columns that we want and rename them in the DataFrame
new_boston_data_df = boston_data_df[["licenseno","resultdttm","city","state","zip"]]
new_boston_data_df = new_boston_data_df.rename(columns={"licenseno": "license_no",
                                                        "resultdttm": "inspect_date",
                                                        })

# Drop any null or missing values
new_boston_data_df.dropna(inplace=True)

# Convert inspect_date to datetime data type
new_boston_data_df['inspect_date'] = new_boston_data_df['inspect_date'].astype('datetime64[ns]')

# Cleanup the zip code column by applying a format that adds a preceding zero 
# And makes the length of the zipcode column to 5 digit
new_boston_data_df['zip'] = new_boston_data_df['zip'].apply(lambda x: '{0:0>5}'.format(x))

# Verify data types, counts and print head
print(new_boston_data_df.dtypes)
print(new_boston_data_df.count())
new_boston_data_df.head()

license_no               int64
inspect_date    datetime64[ns]
city                    object
state                   object
zip                     object
dtype: object
license_no      43421
inspect_date    43421
city            43421
state           43421
zip             43421
dtype: int64

   license_no        inspect_date        city state    zip
0       87059 2017-04-25 11:57:00  Roslindale    MA  02131
1       87059 2017-04-25 11:57:00  Roslindale    MA  02131
2       87059 2017-04-25 11:57:00  Roslindale    MA  02131
3       87059 2017-04-25 11:57:00  Roslindale    MA  02131
4       87059 2017-04-25 11:57:00  Roslindale    MA  02131

In [17]:
# Select only the columns that we want and rename them in the DataFrame
new_chicago_data_df = chicago_data_df[["License #","Inspection Date","City","State","Zip"]]
new_chicago_data_df = new_chicago_data_df.rename(columns={"License #": "license_no",
                                                  "Inspection Date": "inspect_date",
                                                  "City":"city",
                                                  "State":"state",
                                                  "Zip":"zip"
                                                  })
# Drop any null or missing values
new_chicago_data_df.dropna(inplace=True)

# Convert license_no and zipcode values to integer data type
new_chicago_data_df = new_chicago_data_df.astype({'license_no': int, 'zip': str})

# Convert inspect_date to datetime data type
new_chicago_data_df['inspect_date'] = new_chicago_data_df['inspect_date'].astype('datetime64[ns]')

# Verify data types, counts and print head
print(new_chicago_data_df.dtypes)
print(new_chicago_data_df.count())
new_chicago_data_df.head()

license_no               int64
inspect_date    datetime64[ns]
city                    object
state                   object
zip                     object
dtype: object
license_no      21558
inspect_date    21558
city            21558
state           21558
zip             21558
dtype: int64

   license_no inspect_date     city state    zip
0     1889055   2017-12-29  CHICAGO    IL  60657
1       60138   2017-12-28  CHICAGO    IL  60640
2     1382610   2017-12-28  CHICAGO    IL  60602
3     1841515   2017-12-28  CHICAGO    IL  60640
4       11190   2017-12-28  CHICAGO    IL  60640

In [9]:
new_nyc_data_df = nyc_data_df[["NYS HEALTH OPERATION ID","DATE OF INSPECTION","FACILITY CITY","FS FACILITY STATE","FACILITY POSTAL ZIPCODE"]]
##NEED TO CONVERT DATE TO DATE AND ZIP TO NUMBER
new_nyc_data_df = new_nyc_data_df.rename(columns={"NYS HEALTH OPERATION ID": "license_no",
                                                          "DATE OF INSPECTION": "inspect_date",
                                                          "FACILITY CITY":"city",
                                                          "FS FACILITY STATE":"state",
                                                          "FACILITY POSTAL ZIPCODE":"zip"
                                                          })
new_nyc_data_df.head()

   license_no inspect_date         city state        zip
0      891335    2/24/2017    PINE CITY    NY      14871
1      458776    3/20/2017      Potsdam    NY      13676
2      358617    9/27/2017  LAKE PLACID    NY      12946
3      578208   11/13/2017       ELMONT    NY  110032404
4      358617    9/27/2017  LAKE PLACID    NY      12946

### Create unique license_no PK for each state

In [70]:
new = new_boston_data_df["state"].copy() 

new_boston_data_df["license_no"]= new_boston_data_df["license_no"].astype(str) 
# concatenating team with name column 
# overwriting name column

new_boston_data_df["license_no"]= new_boston_data_df["license_no"].str.cat(new, sep ="-") 
new_boston_data_df['inspect_date'] = pd.to_datetime(new_boston_data_df['inspect_date'], format = "%m/%d/%Y")
# display 
new_boston_data_df

           license_no        inspect_date         city state   zip
0      87059-MA-MA-MA 2017-04-25 11:57:00   Roslindale    MA  2131
1      87059-MA-MA-MA 2017-04-25 11:57:00   Roslindale    MA  2131
2      87059-MA-MA-MA 2017-04-25 11:57:00   Roslindale    MA  2131
3      87059-MA-MA-MA 2017-04-25 11:57:00   Roslindale    MA  2131
4      87059-MA-MA-MA 2017-04-25 11:57:00   Roslindale    MA  2131
...               ...                 ...          ...   ...   ...
43416  26357-MA-MA-MA 2017-06-06 12:11:00       Boston    MA  2109
43417  26357-MA-MA-MA 2017-06-06 12:11:00       Boston    MA  2109
43418  26357-MA-MA-MA 2017-06-06 12:11:00       Boston    MA  2109
43419  27260-MA-MA-MA 2017-01-26 09:23:00  Charlestown    MA  2129
43420  27260-MA-MA-MA 2017-08-08 13:12:00  Charlestown    MA  2129

[43421 rows x 5 columns]

In [12]:
new = new_chicago_data_df["state"].copy() 

new_chicago_data_df["license_no"]= new_chicago_data_df["license_no"].astype(str) 
# concatenating team with name column 
# overwriting name column

new_chicago_data_df["license_no"]= new_chicago_data_df["license_no"].str.cat(new, sep ="-") 
  
# display 
new_chicago_data_df

         license_no inspect_date     city state    zip
0      1889055.0-IL   12/29/2017  CHICAGO    IL  60657
1        60138.0-IL   12/28/2017  CHICAGO    IL  60640
2      1382610.0-IL   12/28/2017  CHICAGO    IL  60602
3      1841515.0-IL   12/28/2017  CHICAGO    IL  60640
4        11190.0-IL   12/28/2017  CHICAGO    IL  60640
...             ...          ...      ...   ...    ...
21583  1954065.0-IL    2/23/2017  CHICAGO    IL  60625
21584  2511774.0-IL    2/16/2017  CHICAGO    IL  60642
21585    26921.0-IL     2/8/2017  CHICAGO    IL  60641
21586  2516663.0-IL    2/24/2017  CHICAGO    IL  60608
21587  2293179.0-IL    1/24/2017  CHICAGO    IL  60617

[21588 rows x 5 columns]

In [14]:
new = new_nyc_data_df["state"].copy() 

new_nyc_data_df["license_no"]= new_nyc_data_df["license_no"].astype(str) 
# concatenating team with name column 
# overwriting name column

new_nyc_data_df["license_no"]= new_nyc_data_df["license_no"].str.cat(new, sep ="-") 
  
# display 
new_nyc_data_df

      license_no inspect_date         city state        zip
0      891335-NY    2/24/2017    PINE CITY    NY      14871
1      458776-NY    3/20/2017      Potsdam    NY      13676
2      358617-NY    9/27/2017  LAKE PLACID    NY      12946
3      578208-NY   11/13/2017       ELMONT    NY  110032404
4      358617-NY    9/27/2017  LAKE PLACID    NY      12946
...          ...          ...          ...   ...        ...
93702  805343-NY    8/17/2017   SPECULATOR    NY      12164
93703  500600-NY    9/15/2017        UTICA    NY      13501
93704  929018-NY    4/25/2017    OCEANSIDE    NY      11572
93705  926124-NY    4/27/2017    HEMPSTEAD    NY  115504540
93706  500600-NY    5/23/2017        UTICA    NY      13501

[93707 rows x 5 columns]

### Merge the city DataFrames

In [67]:
merge_df = pd.concat([new_boston_data_df, new_chicago_data_df, new_nyc_data_df])
merge_df['city'] = merge_df['city'].str.title() 
merge_df['state'] = merge_df['state'].str.upper()
merge_df.dtypes

license_no      object
inspect_date    object
city            object
state           object
zip             object
dtype: object

### Clean DataFrame

### Connect to local database

### Check for tables

### Use pandas to load csv converted DataFrame into database

### Use pandas to load json converted DataFrame into database

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

### Confirm data has been added by querying the customer_location table